<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Job Solution</title>
    <link rel="icon" type="image/x-icon" sizes="180x180" href="https://i.pinimg.com/236x/1c/4a/81/1c4a81047ba09120384d69899d5bb09a.jpg">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/total_job_solution.css') }}">
</head>
<body style="background-color: #D9EEE1;">  
    {% include 'base/navbar.html' %}
    <div class="container container1">
        <div class="col-md-5 main_board">
            <font id="txt1" >We find the job & apply for you</font><br>
            <button class="btn1">Get started for free</button>
        </div>  
        <div class="col-md-2"></div>
        <img src="https://images.ctfassets.net/14q5t4r3zqb4/2miiqhvfYHXJDK696b0EFy/e22123db86596c133b78559005d731f4/Image__29___1_.png" id="img1" class="col-md-5">
    </div>
    <div class="container2 container">
        <h2 class="text-center txt2">Our customers find jobs at top companies</h2>
        <div class="cmp_img">
            <img src="https://images.ctfassets.net/14q5t4r3zqb4/60QzzQuYPelRc0orZGbQaz/81aa19ad091b0df6649137a9ae2fe071/Logo.svg">
            <img src="https://images.ctfassets.net/14q5t4r3zqb4/GEvkBFlGubXf2D2owUMGH/6d77e3da3a77a29e409556d1a1ee625b/Logo__1_.svg">
            <img src="https://images.ctfassets.net/14q5t4r3zqb4/5Jr5i4zt6eFvC5umL7p0mp/73b1bf570899698f6a2d4c3b16840e20/Logo__2_.svg">
            <img src="https://images.ctfassets.net/14q5t4r3zqb4/6voMUBhAx8GIXm5CYdf1xn/a2148faa57dbf61d76faddad32a6ace0/Logo__3_.svg">
            <img src="https://images.ctfassets.net/14q5t4r3zqb4/2WJf6aXM8bsag8Y2A3IvQI/1b0542b25439b87891c2f366abf7f660/Logo__4_.svg">
        </div>
    </div>
</body>
</html>